<%- include('partial/head',{title:"Detalle"}) %>
<body>
    <%- include('partial/header') %>
    <main>
        <section id="banner_rock_bands">
            <img src="../public/images/bannerRockBand.png" alt="">
        </section>
    </main>
    <footer>
    </footer>
</body>