@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './header.css';
@import './footer.css';
@import './register.css';
@import './login.css';
@import './style.css';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Playwrite+VN:wght@100..400&display=swap');

:root {
    color-scheme: light dark;
    --black-color: #0f0f0f;
    --white-color: #fefefe;
    --grey-color: #2a2828;
    --yellow-color: #f7c331;
    --blue-color: #093f85;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f0f0f;
    color: var(--white-color);
    font-size: 14px;
}

a {
    color: var(--color-quinary);
    text-decoration: none;
}