header {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--black-color);
  width: 100%;
  height: 60px;
  padding: 10px 1rem;
  box-shadow: inset 0px 0px 10px var(--grey-color),
              inset 0px 0px 10px var(--grey-color);
  align-items: center;

  h1 {
    font-family: "Abel", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1rem;
    font-size: .8rem;
    grid-column: 1;
    grid-row: 1;
    cursor: default;
    transition: .5s ease;

    &:hover {
      transform: translate(1px, 1px);
      text-shadow: 5px 5px 3px var(--grey-color),
        0px 0px 7px var(--yellow-color);
    }
  }

  nav {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    display: flex;
    gap: 1rem;

    ul {
      display: flex;
      width: 100%;
      gap: .5rem;
      font-weight: 500;

      li {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 2px;
          bottom: -2%;
          right: 0;
          background-color: var(--white-color);
          transition: .5s ease;
        }

        &:hover::after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}